<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Diary</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <h1 data-position="header">My Diary</h1>

    <section data-position="add-diary">
      <h2>Add diary</h2>

      <form action="/posts" method="POST">
        <input type="text" placeholder="title" name="name" />
        <input type="text" placeholder="diary" name="post" />
        <button type="submit" style="text-align: center;">Submit</button>
      </form>
    </section>

    <!-- <section data-position="update-quote">
      <div>
        <h2>Darth Vadar invades!</h2>
        <p>
          Replace first Yoda's quote with a quote written by Darth Vadar
        </p>
        <button id="update-button">Replace Yoda's quote</button>
      </div>
    </section> -->

    <!-- <section data-position="delete-quote">
      <div>
        <h2>Remove Darth Vadar!</h2>
        <p>
          Delete one Darth Vadar's quote. Does nothing if there are no more
          Darth Vadar's quote
        </p>
        <button id="delete-button">Delete Darth Vadar's quote</button>
      </div>
      <div id="message"></div>
    </section> -->

    <section data-position="posts">
      <h2>Posts</h2>

      <ul class="posts">
        <% for(var i = 0; i < posts.length; i++) {%>
        <li class="posts">
          <span><%= posts[i].name %></span>
          <span><%= posts[i].post %></span>
          <button value=<%= posts[i].name %> class="delete-button">Delete</button>
          <button value=<%= posts[i].name %> class="edit-button">Edit</button>
        </li>
        <% } %>
      </ul>
      <input type="text" class="edit-input"/>
    </section>

    <script src="/main.js"></script>
  </body>
</html>
