html,
body {
  height: 100%;
}

html {
  font-size: 24px;
  line-height: 1.4;
  font-family: Helvetica;
}

body {
  box-sizing: border-box;
  margin: 50px;
  padding: 1rem;
  background-color: #ffffff;
  background-image: url("./images/nemo.jpg");
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: #000;
}

h2 {
  padding: 10px;
}

.inputs {
  display: flex;
  justify-content: center;
}

.inputs > input {
  border-radius: 5px;
  border: 1px solid #fff;
  margin-right: 20px;
}
.inputs > button {
  border-radius: 5px;
  border: 1px solid #fff;
}

.inputs > button:hover {
  background: #000;
  color: #fff;
  border: 1px solid #000;
  transition: 0.8s;
}

.posts > button {
  border-radius: 5px;
  border: 1px solid #fff;
}

.posts > button:hover {
  background: #000;
  color: #fff;
  border: 1px solid #000;
  transition: 0.8s;
}

.input-second {
  width: 500px;
}

ul.posts {
  
}


[data-position="header"] {
  padding: 30px;
}

[data-position="add-quotes"] {
  grid-area: add-quotes;
}

[data-position="posts"] {
  /* grid-area: quotes; */
  /* justify-content: center; */
}

[data-position] {
  opacity: 0.8;
  /* border-radius: 0.5rem; */
  border: 1px solid #000;
  padding: 1rem;
  /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); */
  width: 60%;
  margin: 30px auto;
}

h1,
h2 {
  margin: 0;
  text-align: center;
}

.posts-list {
  justify-content: center;
}